<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <system.data>

    <!--<connectionStrings>
      <add name="StatsConnection" providerName="System.Data.SQLite" connectionString="Data Source=ess.db3;Version=3;" />
    </connectionStrings>-->

  </system.data>

</configuration>