@charset "UTF-8";
@import "compass/css3";
//@import "animation";

$bgbody: #000;
$colorbody: green;


@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('../fonts/proximanova-regular-webfont.eot');
  src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-regular-webfont.woff') format('woff'),
  url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
  url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url('../fonts/proximanova-light-webfont.eot');
  src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-light-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-light-webfont.woff') format('woff'),
  url('../fonts/proximanova-light-webfont.ttf') format('truetype'),
  url('../fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
  font-weight: normal;
  font-style: normal;
}

 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}


// Info bag
.info-bag-btn{
  position: absolute;
  top: 0;z-index: 2;
}
.info-bag{
  position: fixed;
  right: 0;
  top: 0;
  background: yellow;
}


#viewport {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-perspective-origin-x: 50%;
  -webkit-perspective-origin-y: 50%;
}

#world {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#body{
  -webkit-backface-visibility:hidden;
}

.project-item {
  width: 404px;
  height: 316px;
  background: #000000;
  outline: 1px solid transparent;
  position: absolute;
  @include transition(all 1s);

    img{
      position: absolute;
      top: 0;
    }
}

@-webkit-keyframes  project-item-anim{
  0%   {  transform: rotateY( 0deg ); }
  100%   {  transform: translateX(758px) translateY(200px) translateZ(250px) rotateY( 180deg ) }
}
.project-item-active{
  //transform: translateX(758px) translateY(158px) translateZ(0);
  -webkit-animation: project-item-anim .2s forwards;
  transform-origin: 50% 50%;
}
//
//.project-item-anim{
//  -webkit-animation: project-item-anim  ;
//}
// Description page
//-------------------
::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  display: none;
}

html,
body {
  min-height: 100%;
}

body {
  background: #000;
  overflow: hidden;
  line-height: 1;
  font-family: 'Proxima Nova Regular';
}
.id-class{
  color: #000;
  font-size: 20px;
  position: absolute;
  z-index: 20;
}
.container {
  height: 100vh;

  // top fade
  &:before {
    content: '';
    position: fixed;
    top: -150px; left: 0; right: 0;
    height: 270px;
    width: 100vw;
    background: url(../images/top_fade.png) 0 0 no-repeat;
    z-index: 22; // z-index: 9000;
  }
}

.fade-left {
  position: fixed;
  top: 0; left: 0; bottom: 0;
  height: 100vh;
  width: 96px;
  background: url(../images/fade_left.png) 0 0 no-repeat;
}

.fade-right {
  position: fixed;
  top: 0; right: 0; bottom: 0;
  height: 100vh;
  width: 96px;
  background: url(../images/fade_right.png) 0 0 no-repeat;
}

// work items
.work.scroll .content{
  transform: scale(0.98);
}
.work.scroll-not .content{
  transition: all 0.1s;
  transform: scale(1);
}
.work {
  position: fixed;
  top: 0; bottom: 0;
  margin: auto;
  display: block;
  height: 316px;
  width: 404px;
  background: #000;
  //overflow: hidden;

  .cover {
    cursor: pointer;
  }

  // central work
  &.active {
    position: absolute;
    left: 0; right: 0;
    margin: 0 auto;
    padding-right: 0;
    height: 100vh;
    width: 724px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 20;


    // bottom fade
    .fade-bottom {
      position: fixed;
      left: 0; right: 0; bottom: 0;
      height: 270px;
      width: 100vw;
      background: url(../images/bottom_fade.png) 0 0 no-repeat;
      z-index: 25;
    }

    section {
      width: 100%;
/*      &:nth-child(even) {
        height: 200px;
        background: #2c3e50;
      }
      &:nth-child(odd) {
        height: 250px;
        background: #bdc3c7;
      }*/
      margin-bottom: 0px;
    }

  }

  // prev work
  &:nth-child(1) {
    left: -732px;
    opacity: .5;

    .cover {
      transform: translateZ(0) rotateY(0deg);
    }
  }

  // prev work
  &:nth-child(2) {
    left: -404px;
    opacity: .5;

    .cover {
      transform: translateZ(0) rotateY(10deg);
      transition: transform 0.15s ease-in-out;
    }

    &:hover .cover {
      transform: translateZ(0) rotateY(0deg);
    }
  }

  // central work
  // &.active:nth-child(3) {}

  // next work
  &:nth-child(4) {
    right: -404px;
    opacity: .5;

    .cover {
      transform: translateZ(0) rotateY(-10deg);
      transition: transform 0.15s ease-in-out;
    }

    &:hover .cover {
      transform: translateZ(0) rotateY(0deg);
    }
  }

  // next work
  &:nth-child(5) {
    right: -732px;
    opacity: .5;

    .cover {
      transform: translateZ(0) rotateY(0deg);
    }
  }
}

// work inner
.inner {
  position: relative;
  top: 50%;
  margin-top: -129px;
  height: 100vh;
  width: 724px;
  z-index: 19;
}


.work:not(.active) {
  cursor: pointer;

  .cover {
    position: absolute;
    top: 0;
    left: 0; right: 0;
    height: 316px; width: 404px;

    img {
      width: 100%;
      height: auto;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      height: 100%;
      width: 100%;
      background: #000;
      z-index: -1;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      height: 100%;
      width: 100%;
      background: #000;
      opacity: 0;
      z-index: 10;
    }
  }

  .header {
    position: absolute;
    top: 0; left: 0; right: 0;
    height: 316px; width: 404px;
    color: #fff;
    text-align: center;
    font-family: 'Proxima Nova Regular';

    .title {
      padding: 10px 0;
      font-size: 40px;
      letter-spacing: -1px;
      opacity: 0;
      transform: scale3d(0.4,0.4,1);
    }

    .category {
      opacity: 0;

    }

    .author {
      opacity: 0;
    }
  }

}

.likes-wrapper {
  width: 120px;
  margin: 0 auto;
}

// active work
.active {

  // preview image
  .cover {
    position: fixed;
    top: 50%;
    left: 0; right: 0;
    height: 316px; width: 404px;
    margin: 0 auto;
    transform: translateY(-50%) scale3d(1.79,1.79,1);

    img {
      width: 100%;
      height: auto;
      opacity: .3;
    }

    // black cover bg
    &:after {
      content: '';
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      height: 100%;
      width: 100%;
      background: #000;
      z-index: -1;
    }
  }

  .content {
    position: absolute;
    top: 257px;
    left: 0;
    right: 0;
    margin-top: 500px;
    opacity: 1;
    transform: scale3d(1,1,1);
    transform-origin: 50% 0;
    transition: all 0.25s ease-in-out;
  }

  .header {
    position: absolute;
    top: 0; left: 0; right: 0;
    height: 257px;
    color: #fff;
    text-align: center;
    font-family: 'Proxima Nova Regular';
    transform: scale3d(0.84,0.84,1);

    .title-container {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      font-family: 'Proxima Nova Light';
    }

    .category {
      opacity: 0;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 18px;
    }

    .title {
      padding: 10px 0;
      font-size: 40px;
      letter-spacing: -1px;
    }

    .author {
      opacity: 0;
      font-size: 20px;
    }
  }

  .footer {
    position: relative;
    height: 260px;
    width: 100%;
  }

  .likes {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 68px;
    width: 100%;
    color: #fff;
    text-align: center;
    z-index: 110;

    h3 {
      padding: 6px 0 32px;
      opacity: 0;
      font-size: 40px;
    }

    h4 {
      opacity: 0;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 18px;
    }

    .thx {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 68px;
      opacity: 0;
      letter-spacing: -1px;
      font-size: 40px;
    }
  }

  .like-icon-left {
    position: relative;
    display: inline-block;
    float: left;
    top: -2px;
//    margin-left: -25px;
    height: 32px;
    width: 40px;
    background: transparent;
    opacity: 0;
    cursor: pointer;
    z-index: 110;

    &:after {
      content: '';
      position: absolute;
      top: 0; left: 0;
      height: 32px;
      width: 40px;
      background: url(../images/blue-like-left.png) 0 0 no-repeat;
      opacity: 1;
      cursor: pointer;
      z-index: 112;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0; left: 0;
      height: 32px;
      width: 40px;
      background: url(../images/blue-like-left.png) 0 0 no-repeat;
      opacity: 1;
      cursor: pointer;
      z-index: 111;
    }
  }

  .like-icon-right {
    position: relative;
    display: inline-block;
    float: right;
    top: -2px;
//    margin-left: -25px;
    height: 32px;
    width: 40px;
    background: transparent;
    opacity: 0;
    cursor: pointer;
    z-index: 110;

    &:after {
      content: '';
      position: absolute;
      top: 0; left: 0;
      height: 32px;
      width: 40px;
      background: url(../images/blue-like-right.png) 0 0 no-repeat;
      opacity: 1;
      cursor: pointer;
      z-index: 112;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0; left: 0;
      height: 32px;
      width: 40px;
      background: url(../images/blue-like-right.png) 0 0 no-repeat;
      opacity: 1;
      cursor: pointer;
      z-index: 111;
    }
  }

  .like-icon-outer {
    .left {
      float: left;
    }
    .right {
      float: right;
    }
  }

  .like-amount {
//    position: absolute;
    bottom: 3px;
    display: inline-block;
    margin-left: 0;
    opacity: 0;
    font-size: 27px;
    z-index: 111;
    position: relative;

    &:after {
      content: '+1';
      position: absolute;
      top: -4px; left: 2px;
      opacity: 0;
      font-size: 16px;
      font-family: 'Proxima Nova Light';
    }
  }
}

.prev-pseudo-cover {
  position: fixed;
  top: 50%;
  margin: -158px auto 0;
  left: 0; right: 0;
  height: 316px; width: 404px;
  opacity: 0;
  z-index: -10;

  transform-style: preserve-3d;
  perspective: 1000px;

  img {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: auto;
    opacity: .3;
    transform: rotateX(0deg) rotateY(-25deg) scale(0.8);
    z-index: -11;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    height: 100%;
    width: 100%;
    background: #000;
    transform: rotateX(0deg) rotateY(-25deg) scale(0.8);
    z-index: -12;
  }
}

.active {
    #badges {
        position: absolute;
        top: -1px;
        right: 10px;
        
        li {
            display: none;
            float: left;
        }
        
        li + li {
            margin-left: 6px;
        }
        
        &.be > .be {
            display: block;
        }
        
        &.aw > .aw {
            display: block;
        }
        
        &.wd > .wd {
            display: block;
        }
        
        &.cd > .cd {
            display: block;
        }
        
        &.ad > .ad {
            display: block;
        }
        
        &.ts > .ts {
            display: block;
        }
    }
}

@import "magic";