/* ---------------------------------------------------
   --------------  [ NEW WORK LOADED ]  --------------
   --------------------------------------------------- */
.go-go .work.active .cover {
  -webkit-animation: cover-blink 0.25s forwards; }

@-webkit-keyframes thumb-up-bottom-left {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(15deg); }
  100% {
    transform: rotate(0deg); } }
@-webkit-keyframes rotate-world-anim {
  0% {
    transform: rotateY(-23.675deg) rotateX(-4.03deg); }
  50% {
    transform: rotateY(0deg) rotateX(0deg); }
  75% {
    transform: rotateY(10deg) rotateX(2deg); }
  100% {
    transform: rotateY(21.5deg) rotateX(4.03deg); } }
/*#world{
  -webkit-animation: rotate-world-anim 150s ease-in 2s infinite alternate; */
/* Chrome, Safari, Opera */
                                                                                                      /*
animation: rotate-world-anim 150s ease-in 2s infinite alternate; */
/* Standard syntax */
                                                                                          /*
}*/
@-webkit-keyframes cover-blink {
  0%, 40%, 80%, 100% {
    opacity: 0;
    transform: translateY(-50%) scale3d(1.79, 1.79, 1); }
  20%, 60%, 99% {
    opacity: 1;
    transform: translateY(-50%) scale3d(2, 2, 1); } }
.go-go .work.active .header {
  transition: all 0.35s ease-in-out;
  -webkit-animation: header-scale-up 0.25s forwards; }

@-webkit-keyframes header-scale-up {
  from {
    transform: scale3d(0.84, 0.84, 1); }
  to {
    transform: scale3d(1, 1, 1); } }
.go-go .work.active .header.fade-out {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0; }

.go-go .work.active .header.fade-out + .content {
  margin-top: 257px; }

.go-go .work.active .header .category {
  -webkit-animation: titles-slide-in-up 0.17s forwards 0.25s; }

@-webkit-keyframes titles-slide-in-up {
  from {
    opacity: 0;
    transform: translate3d(0, 150%, 0); }
  to {
    opacity: .4;
    transform: translate3d(0, 0, 0); } }
.go-go .work.active .header .author {
  -webkit-animation: titles-slide-in-down 0.29s forwards 0.32s; }

@-webkit-keyframes titles-slide-in-down {
  from {
    opacity: 0;
    transform: translate3d(0, -150%, 0); }
  to {
    opacity: .5;
    transform: translate3d(0, 0, 0); } }
.go-go .work.active .inner {
  -webkit-animation: inner-slide-up 0.38s forwards 0.99s; }

@-webkit-keyframes inner-slide-up {
  0% {
    top: 50%;
    margin-top: -129px; }
  100% {
    top: 0;
    margin-top: 0; } }
.go-go .work.active .content {
  -webkit-animation: content-slide-up 1.63s forwards 0.99s cubic-bezier(0, 0.65, 0, 1); }

@-webkit-keyframes content-slide-up {
  0% {
    margin-top: 500px; }
  100% {
    margin-top: 0; } }
.go-go .work:nth-child(2) {
  -webkit-animation: work-2 0.5s forwards 1.75s; }

/* see .pseudo animations */
.go-back .work:nth-child(2) {
  -webkit-animation: work-2 0.01s forwards 0.15s; }

@-webkit-keyframes work-2 {
  0% {
    left: -404px; }
  100% {
    left: -132px; } }
.go-go .work:nth-child(4) {
  -webkit-animation: work-4 0.5s forwards 1.75s; }

/* see .pseudo animations */
.go-forward .work:nth-child(4) {
  -webkit-animation: work-4 0.01s forwards 0.15s; }

@-webkit-keyframes work-4 {
  0% {
    right: -404px; }
  100% {
    right: -132px; } }
.go-go .work.active .like-icon-left,
.go-go .work.active .like-icon-right {
  -webkit-animation: like-icon-fade-in 0.5s forwards 1.75s; }

@-webkit-keyframes like-icon-fade-in {
  0% {
    opacity: 0;
    transform: translateY(52px) rotateZ(30deg); }
  100% {
    opacity: 1;
    transform: translateY(0) rotateZ(0); } }
.go-go .work.active .like-amount {
  -webkit-animation: like-amount-fade-in 0.3s forwards 2.38s; }

@-webkit-keyframes like-amount-fade-in {
  0% {
    opacity: 0;
    margin-top: 0; }
  100% {
    opacity: 1;
    margin-top: 9px; } }
/* ---------------------------------------------------
   --------------------  [ LIKE ]  -------------------
   --------------------------------------------------- */
.go-go .appreciete h4 {
  -webkit-animation: appreciete-h4 0.2s forwards; }

@-webkit-keyframes appreciete-h4 {
  0% {
    opacity: 0;
    transform: translateY(100%); }
  100% {
    opacity: .5;
    transform: translateY(0); } }
.go-go .appreciete h3 {
  -webkit-animation: appreciete-h3 0.3s forwards 0.2s; }

@-webkit-keyframes appreciete-h3 {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.go-go .appreciete.liked h4 {
  -webkit-animation: liked-h4 2.71s forwards; }

@-webkit-keyframes liked-h4 {
  0%, 40.2% {
    opacity: .5;
    transform: translateY(0); }
  46.4%, 100% {
    opacity: 0;
    transform: translateY(15px); } }
.go-go .appreciete.liked h3 {
  -webkit-animation: liked-h3 2.71s forwards; }

@-webkit-keyframes liked-h3 {
  0%, 40.2% {
    opacity: 1;
    transform: translateY(0); }
  46.4%, 100% {
    opacity: 0;
    transform: translateY(-15px); } }
.go-go .appreciete.liked .thx {
  -webkit-animation: thx 2.71s forwards; }

@-webkit-keyframes thx {
  0%, 51% {
    opacity: 0;
    transform: translateY(15px); }
  60.2%, 100% {
    opacity: 1;
    transform: translateY(0); } }
.go-go .liked .thx {
  -webkit-animation: thx-2 3.71s forwards; }

@-webkit-keyframes thx-2 {
  0%, 20.2%, 100% {
    opacity: 0;
    transform: translateY(15px); }
  30.4%, 80% {
    opacity: 1;
    transform: translateY(0); } }
.go-go.press .work.active .inner {
  -webkit-animation: content-pressed 2.71s forwards -0.7s; }

@-webkit-keyframes content-pressed {
  0%, 46.4%, 80.2%, 100% {
    top: 0;
    margin-top: 0;
    transform-origin: 50% 95%;
    transform: scale(1); }
  48% {
    top: 0;
    margin-top: 0;
    transform-origin: 50% 95%;
    transform: scale(0.98); } }
.go-go .appreciete .like-icon-left:after,
.go-go .appreciete .like-icon-left:before {
  -webkit-animation: thumb-up-bottom-left 0.5s forwards; }

.go-go .appreciete .like-icon-right:after,
.go-go .appreciete .like-icon-right:before {
  -webkit-animation: thumb-up-bottom 0.5s forwards; }

@-webkit-keyframes thumb-up-bottom-left {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(15deg); }
  100% {
    transform: rotate(0deg); } }
@-webkit-keyframes thumb-up-bottom {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(-15deg); }
  100% {
    transform: rotate(0deg); } }
.go-go .liked .like-icon-left:after {
  -webkit-animation: thumb-up-after-left 2.71s forwards -0.7s; }

.go-go .liked .like-icon-right:after {
  -webkit-animation: thumb-up-after 2.71s forwards -0.7s; }

@-webkit-keyframes thumb-up-after-left {
  0%, 34% {
    transform: rotate(0deg) scale(1); }
  40.2% {
    transform: rotate(-16deg); }
  46.4% {
    transform: rotate(-2.5deg) scale(0.72); }
  51% {
    transform: rotate(30deg) scale(1.3);
    opacity: 1; }
  60.2% {
    transform: rotate(3.2deg) scale(1.67);
    opacity: 0; }
  69.5%, 100% {
    transform: rotate(0deg) translateY(0) scale(1.5);
    opacity: 0; } }
@-webkit-keyframes thumb-up-after {
  0%, 34% {
    transform: rotate(0deg) scale(1); }
  40.2% {
    transform: rotate(16deg); }
  46.4% {
    transform: rotate(2.5deg) scale(0.72); }
  51% {
    transform: rotate(-30deg) scale(1.3);
    opacity: 1; }
  60.2% {
    transform: rotate(-3.2deg) scale(1.67);
    opacity: 0; }
  69.5%, 100% {
    transform: rotate(0deg) translateY(0) scale(1.5);
    opacity: 0; } }
.go-go .liked .like-icon-left:before {
  -webkit-animation: thumb-up-before-left 2.71s forwards -0.7s; }

.go-go .liked .like-icon-right:before {
  -webkit-animation: thumb-up-before 2.71s forwards -0.7s; }

.go-go .liked .like-amount {
  color: #089AFF; }

@-webkit-keyframes thumb-up-before-left {
  0%, 34% {
    transform: rotate(0deg) scale(1); }
  40.2% {
    transform: rotate(-16deg); }
  46.4% {
    transform: rotate(-2.5deg) scale(0.72); }
  51% {
    transform: rotate(30deg) scale(1.3);
    opacity: 1; }
  69.5%, 100% {
    transform: rotate(0deg) translateY(0) scale(0.83);
    opacity: .5; } }
@-webkit-keyframes thumb-up-before {
  0%, 34% {
    transform: rotate(0deg) scale(1); }
  40.2% {
    transform: rotate(16deg); }
  46.4% {
    transform: rotate(2.5deg) scale(0.72); }
  51% {
    transform: rotate(-30deg) scale(1.3);
    opacity: 1; }
  69.5%, 100% {
    transform: rotate(0deg) translateY(0) scale(0.83);
    opacity: .5; } }
.go-go .used .like-icon-outer {
  -webkit-animation: like-icon-outer 0.4s forwards 0.15s; }

@-webkit-keyframes like-icon-outer {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(0, 48px, 0); } }
.go-go .used .like-icon-outer i {
  -webkit-animation: thumb-up-used 0.4s forwards 0.15s; }

@-webkit-keyframes thumb-up-used {
  0% {
    transform: rotate(0deg);
    opacity: .5; }
  100% {
    transform: rotate(30deg);
    opacity: 0; } }
.go-go .liked .like-amount:after {
  -webkit-animation: like-amount-after 2.71s forwards -0.7s; }

@-webkit-keyframes like-amount-after {
  0%, 46.4% {
    opacity: 0;
    transform: translateY(0); }
  51% {
    opacity: 1; }
  66.5%, 100% {
    opacity: 0;
    transform: translateY(-14px); } }
.go-go .used .like-amount span {
  -webkit-animation: like-amount-span 0.1s forwards; }

@-webkit-keyframes like-amount-span {
  0% {
    opacity: 1;
    transform: translateX(0); }
  100% {
    opacity: 0;
    transform: translateX(-10px); } }
@-webkit-keyframes too-much {
  0%, 100% {
    transform: translateY(0); }
  35% {
    transform: translateY(-50px); } }
/* ---------------------------------------------------
   -----------------  [ NEXT FLIP ]  -----------------
   --------------------------------------------------- */
.go-go .work.used {
  -webkit-animation: work-used 0.4s forwards; }

@-webkit-keyframes work-used {
  0% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(0.75); } }
.work:not(.active) {
  perspective: 1000px; }

.go-go .work.next-ready .cover {
  -webkit-animation: next-ready-cover 0.6s forwards ease-in-out; }

@-webkit-keyframes next-ready-cover {
  0% {
    transform-origin: 100% 50%;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1); }
  50% {
    transform-origin: 100% 50%;
    transform: translate3d(-485px, 59px, 30px); }
  100% {
    transform-origin: 50% 50%;
    transform: translate3d(-893px, -2px, 0) scale3d(1.79, 1.79, 1); } }
.go-go .work.next-ready .inner {
  -webkit-animation: next-ready-inner 0.6s forwards ease-in-out; }

@-webkit-keyframes next-ready-inner {
  0% {
    transform-origin: 100% 50%;
    transform: translate3d(0, 0, 0); }
  50% {
    transform-origin: 100% 50%;
    transform: translate3d(-485px, 59px, 30px); }
  100% {
    transform-origin: 50% 50%;
    transform: translate3d(-893px, -2px, 0); } }
.go-go .work.next-ready .cover img {
  -webkit-animation: cover-next-ready 0.6s forwards; }

@-webkit-keyframes cover-next-ready {
  0% {
    transform: rotateX(0deg) rotateY(0deg); }
  50% {
    transform: rotateX(-30deg) rotateY(-90deg); }
  100% {
    transform: rotateX(0deg) rotateY(-180deg); } }
.go-go .work.next-ready .header {
  top: -155px;
  left: -160px;
  height: 566px;
  width: 724px;
  transform-style: preserve-3d;
  perspective: 500px; }
.go-go .work.next-ready .title-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.go-go .work.next-ready .title {
  -webkit-animation: next-title 0.6s forwards; }

@-webkit-keyframes next-title {
  0%, 50% {
    transform-origin: 70% 50%;
    opacity: 0;
    transform: rotateX(-20deg) rotateY(90deg) translateZ(5px) scale3d(0, 0.84, 1); }
  100% {
    transform-origin: 50% 50%;
    opacity: 1;
    transform: rotateX(0deg) rotateY(0deg) translateZ(0) scale3d(0.84, 0.84, 1); } }
.go-go .work.next-ready .cover:before {
  -webkit-animation: cover-before 0.6s forwards; }

@-webkit-keyframes cover-before {
  0% {
    opacity: 0;
    transform: rotateX(0deg) rotateY(0deg); }
  50% {
    opacity: 0;
    transform: rotateX(-30deg) rotateY(-90deg); }
  100% {
    opacity: .7;
    transform: rotateX(0deg) rotateY(-180deg); } }
/* ---------------------------------------------------
   -----------------  [ PREV FLIP ]  -----------------
   --------------------------------------------------- */
.go-go .work.prev-ready .cover {
  -webkit-animation: prev-ready-cover 0.6s forwards ease-in-out; }

@-webkit-keyframes prev-ready-cover {
  0% {
    transform-origin: 100% 50%;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1); }
  50% {
    transform-origin: 100% 50%;
    transform: translate3d(485px, 59px, 30px); }
  100% {
    transform-origin: 50% 50%;
    transform: translate3d(893px, -2px, 0) scale3d(1.79, 1.79, 1); } }
.go-go .work.prev-ready .inner {
  -webkit-animation: prev-ready-inner 0.6s forwards ease-in-out; }

@-webkit-keyframes prev-ready-inner {
  0% {
    transform-origin: 100% 50%;
    transform: translate3d(0, 0, 0); }
  50% {
    transform-origin: 100% 50%;
    transform: translate3d(485px, 59px, 30px); }
  100% {
    transform-origin: 50% 50%;
    transform: translate3d(893px, -2px, 0); } }
.go-go .work.prev-ready .cover img {
  -webkit-animation: cover-prev-ready 0.6s forwards; }

@-webkit-keyframes cover-prev-ready {
  0% {
    transform: rotateX(0deg) rotateY(0deg); }
  50% {
    transform: rotateX(-30deg) rotateY(90deg); }
  100% {
    transform: rotateX(0deg) rotateY(180deg); } }
.go-go .work.prev-ready .header {
  top: -155px;
  left: -160px;
  height: 566px;
  width: 724px;
  transform-style: preserve-3d;
  perspective: 500px; }
.go-go .work.prev-ready .title-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.go-go .work.prev-ready .title {
  -webkit-animation: prev-title 0.6s forwards; }

@-webkit-keyframes prev-title {
  0%, 50% {
    transform-origin: 70% 50%;
    opacity: 0;
    transform: rotateX(-20deg) rotateY(-90deg) translateZ(5px) scale3d(0, 0.84, 1); }
  100% {
    transform-origin: 50% 50%;
    opacity: 1;
    transform: rotateX(0deg) rotateY(0deg) translateZ(0) scale3d(0.84, 0.84, 1); } }
.go-go .work.prev-ready .cover:before {
  -webkit-animation: prev-cover-before 0.6s forwards; }

@-webkit-keyframes prev-cover-before {
  0% {
    opacity: 0;
    transform: rotateX(0deg) rotateY(0deg); }
  50% {
    opacity: 0;
    transform: rotateX(-30deg) rotateY(90deg); }
  100% {
    opacity: .7;
    transform: rotateX(0deg) rotateY(180deg); } }
/* ---------------------------------------------------
   ----------------  [ PSEUDO PREV ]  ----------------
   --------------------------------------------------- */
.go-back .prev-pseudo-cover {
  -webkit-animation: pseudo-prev 0.45s forwards ease-out 0.35s; }

@-webkit-keyframes pseudo-prev {
  0% {
    opacity: 0;
    transform: translateX(0px) scale(0.8); }
  70% {
    opacity: 1;
    transform: translateX(-850px) scale(1); }
  100% {
    opacity: 1;
    transform: translateX(-890px) scale(1); } }
.go-back .prev-pseudo-cover:after,
.go-back .prev-pseudo-cover img {
  -webkit-animation: pseudo-prev-img 0.45s forwards ease-in-out 0.35s; }

@-webkit-keyframes pseudo-prev-img {
  0% {
    transform: rotateX(30deg) rotateY(-25deg) translateZ(-500px); }
  100% {
    transform: rotateX(0deg) rotateY(10deg) translateZ(0px); } }
.go-prev .work.prev {
  -webkit-animation: work-prev 0.15s forwards ease-in-out; }

@-webkit-keyframes work-prev {
  0% {
    left: -132px;
    transform: translateX(0); }
  100% {
    left: -132px;
    transform: translateX(-250px); } }
/* see work-2 animation to move .prev back, under pseudo mask */
/* ---------------------------------------------------
   ----------------  [ PSEUDO NEXT ]  ----------------
   --------------------------------------------------- */
.go-forward .prev-pseudo-cover {
  -webkit-animation: pseudo-next 0.45s forwards ease-out 0.35s; }

@-webkit-keyframes pseudo-next {
  0% {
    opacity: 0;
    transform: translateX(0px) scale(0.8); }
  70% {
    opacity: 1;
    transform: translateX(850px) scale(1); }
  100% {
    opacity: 1;
    transform: translateX(890px) scale(1); } }
.go-forward .prev-pseudo-cover:after,
.go-forward .prev-pseudo-cover img {
  -webkit-animation: pseudo-next-img 0.45s forwards ease-in-out 0.35s; }

@-webkit-keyframes pseudo-next-img {
  0% {
    transform: rotateX(30deg) rotateY(25deg) translateZ(-500px); }
  100% {
    transform: rotateX(0deg) rotateY(-10deg) translateZ(0px); } }
.go-next .work.next {
  -webkit-animation: work-next 0.15s forwards ease-in-out; }

@-webkit-keyframes work-next {
  0% {
    right: -132px;
    transform: translateX(0); }
  100% {
    right: -132px;
    transform: translateX(250px); } }
/* see work-4 animation to move .next back, under pseudo mask */
/* ---------------------------------------------------
   -----------------  [ GRAB MODE ]  -----------------
   --------------------------------------------------- */
.grab .work.active .content {
  opacity: 0;
  transform: scale3d(0.78, 0.78, 1); }

.grab .work.active .header {
  position: fixed;
  top: 110px;
  left: 0;
  right: 0;
  opacity: 1; }

.grab .work.active {
  overflow: hidden;
  background: transparent;
  transform-style: preserve-3d;
  perspective: 1000px; }

.grab .work.active .cover {
  transform: scale3d(0.7, 0.7, 1);
  -webkit-animation: cover-on-grab 0.35s forwards 0.35s; }

@-webkit-keyframes cover-on-grab {
  0% {
    top: 35%;
    opacity: 0;
    transform: rotateX(-31deg) rotateY(23deg) translateY(0) scale3d(0.7, 0.7, 1); }
  15% {
    opacity: .75; }
  100% {
    top: 35%;
    opacity: 1;
    transform: rotateX(0deg) rotateY(0deg) translateY(0) scale3d(1.12, 1.12, 1); } }
.grab .work.active .cover img {
  opacity: 1;
  transition: opacity 0.15s ease-in-out 0.4s; }

.grab .work:nth-child(1) {
  left: -732px;
  opacity: .5;
  -webkit-animation: grab-work-1 0.55s forwards ease-in-out; }
  .grab .work:nth-child(1) .cover {
    transform: translateZ(0) rotateY(0deg); }
.grab .work:nth-child(2) {
  left: -404px;
  opacity: .5;
  -webkit-animation: grab-work-2 0.4s forwards ease-out; }
  .grab .work:nth-child(2) .cover {
    transform: translateZ(0) rotateY(0deg); }
.grab .work:nth-child(4) {
  right: -404px;
  opacity: .5;
  -webkit-animation: grab-work-4 0.4s forwards ease-out; }
  .grab .work:nth-child(4) .cover {
    transform: translateZ(0) rotateY(0deg); }
.grab .work:nth-child(5) {
  right: -732px;
  opacity: .5;
  -webkit-animation: grab-work-5 0.55s forwards ease-in-out; }
  .grab .work:nth-child(5) .cover {
    transform: translateZ(0) rotateY(0deg); }

@-webkit-keyframes grab-work-1 {
  0% {
    opacity: .2;
    left: -732px; }
  100% {
    opacity: .2;
    left: -144px; } }
@-webkit-keyframes grab-work-2 {
  0% {
    opacity: .5;
    left: -132px; }
  100% {
    opacity: .2;
    left: 295px; } }
@-webkit-keyframes grab-work-4 {
  0% {
    opacity: .5;
    right: -132px; }
  100% {
    opacity: .2;
    right: 295px; } }
@-webkit-keyframes grab-work-5 {
  0% {
    opacity: .2;
    right: -732px; }
  100% {
    opacity: .2;
    right: -144px; } }
.grab-off .work:nth-child(1) {
  -webkit-animation: grab-off-work-1 0.4s forwards ease-out; }
.grab-off .work:nth-child(2) {
  -webkit-animation: grab-off-work-2 0.4s forwards ease-out; }
.grab-off .work:nth-child(4) {
  -webkit-animation: grab-off-work-4 0.4s forwards ease-out; }
.grab-off .work:nth-child(5) {
  -webkit-animation: grab-off-work-5 0.4s forwards ease-out; }

@-webkit-keyframes grab-off-work-1 {
  0% {
    opacity: .2;
    left: -144px; }
  100% {
    opacity: .2;
    left: -732px; } }
@-webkit-keyframes grab-off-work-2 {
  0% {
    opacity: .2;
    left: 295px; }
  100% {
    opacity: .5;
    left: -404px; } }
@-webkit-keyframes grab-off-work-4 {
  0% {
    opacity: .2;
    right: 295px; }
  100% {
    opacity: .5;
    right: -404px; } }
@-webkit-keyframes grab-off-work-5 {
  0% {
    opacity: .2;
    right: -144px; }
  100% {
    opacity: .2;
    right: -732px; } }
.grab-off .work.active .cover {
  -webkit-animation: grab-on-grab-off 0.15s forwards; }

@-webkit-keyframes grab-on-grab-off {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/* ---------------------------------------------------
   ----------  [ THE MAGIC OF THE MAGICS ]  ----------
   --------------------------------------------------- */
#main:not(.active) * {
  -webkit-animation: none; }

#next:not(.next-ready) * {
  -webkit-animation: none; }

/*# sourceMappingURL=screen.scss.map */
